<% content_for :title, "New chat" %>

<h1>New chat</h1>

<%= render "form", chat: @chat %>

<br>

<div>
  <%= render ButtonComponent.new(label: "Back to chats", behavior: :navigation, link_url: chats_path, style: :link) %>
</div>
